.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed !important;
  top: 0;
  z-index: 100;
}

.mat-toolbar{
  background-color: #1f1e1f;
  color: white;
  position: fixed !important;
  z-index: 100;
}
.spacer{
  flex: 1 1 auto;
}

.nav-link{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Lobster' !important;
  border-bottom: solid 1px transparent;
  z-index: 100;
}

.nav-link:hover{
  color: wheat;
  transition: .2s;
  border-bottom: solid 1px wheat;
}

.home-nav-link{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Lobster' !important;
  border-bottom: solid 1px transparent;
}

h3{
  font-family: 'Lobster';
  font-size: 25px;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000
}

.toolbar-icon{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: transparent;
  border: solid 2px white;
  float: left;

}

.cake-icon{
  font-size: 35px !important;
  margin-left: 6px;
  margin-top: 4px;
}
