<div class="row justify-content-center mat-elavtion-z6">
  <div class="example-container">
    <h1>Place order</h1>
    <mat-divider></mat-divider>
    <h2>Your cart</h2>
    <div class="cart-wrapper">
      <div *ngIf="items.length === 0">
        <p>
          No items yet
        </p>
      </div>
      <div *ngIf="items.length > 0">
        <div *ngFor="let item of items">
          <app-cart-item [item]="item"></app-cart-item>
        </div>
      </div>
    </div>

    <h2>Order Information</h2>

    <mat-form-field>
      <input matInput placeholder="Name on order">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Address">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="State">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Zip Code">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fulfillment option</mat-label>
      <mat-select>
        <mat-option value="option">Delivery</mat-option>
        <mat-option value="option">Pick-up</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row justify-content-center">
      <button class="order-btn" mat-raised-button>Go to payment</button>
    </div>

  </div>