<app-my-nav></app-my-nav>
<router-outlet></router-outlet>
<div class="footer">
        <div class="row">
          <div class="col-3">
            <div class="footer-link-wrapper footer-logo">
              <div class="row">
                <h5>Sweet Karoline's Cakes <br>
                  <span class="footer-sub">Life is what you bake it</span> 
                  <br>
                  <span class="footer-sub-copy"><fa name="copyright"></fa> 2019</span>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="footer-link-wrapper">
              <div class="row">
                <h5>Follow</h5>
              </div>
              <div class="row">
                <span class="footer-link">Facebook</span>
              </div>
              <div class="row">
                <span class="footer-link">Instagram</span>
              </div>
              <div class="row">
                <span class="footer-link">Twitter</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="footer-link-wrapper">
              <div class="row">
                <h5>General</h5>
              </div>
              <div class="row">
                <span class="footer-link">About</span>
              </div>
              <div class="row">
                <span class="footer-link">Contact</span>
              </div>
              <div class="row">
                <span class="footer-link">Products</span>
              </div>
            </div>
          </div>
        </div>
      </div>