.top-bar{
    padding-top: 200px;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 5vh;
    background-image: url(https://i.imgur.com/uYDQnbW.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.margin-0{
    margin: 0 !important;
}

.product-filter-wrapper{
    position: sticky;
    padding: 10px;
}

.filter-tool{
    height: 500px;
    background-color: #666566cb;
    border-radius: 15px;
    padding: 10px;
}

body{
    overflow-x: hidden;
}

.product-container{
    margin-top: 50px;
}

mat-card{
    float: right;
    margin: 2px;
}