.top-bar{
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 5vh;
    background-image: url(https://i.imgur.com/uYDQnbW.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.margin-0{
    margin: 0 !important;
}

.product-filter-wrapper{
    position: sticky;
    padding: 10px;
    top: 500px;
    right: 30px;
}

.filter-tool{
    height: 500px;
    background-color: #a7a7a798;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #1f1e1f;
}

.product-container{
    margin-top: 50px;
    margin-bottom: 45px;
}

mat-card{
    float: right;
    margin: 2px;
}

.dessertTypeRadioGroup{
    display: inline-flex;
    flex-direction: column;
}