<div class="container margin-0">
  <div class="row product-container">
    <mat-tab-group class="product-tab-wrapper">
      <mat-tab label="Cakes">
        <div *ngFor="let product of products; let i = index">
          <product-detail [product]="product"></product-detail>
        </div>
      </mat-tab>
      <mat-tab label="Cupcakes">
        <div *ngFor="let product of products; let i = index">
          <product-detail [product]="product"></product-detail>
        </div>
      </mat-tab>
      <mat-tab label="Cookies">
        <div *ngFor="let product of products; let i = index">
          <product-detail [product]="product"></product-detail>
        </div>
      </mat-tab>
      <mat-tab label="Pies">
          <div *ngFor="let product of products; let i = index">
            <product-detail [product]="product"></product-detail>
          </div>
        </mat-tab>  
    </mat-tab-group>
    <div class="col-2 custom-column">
      <div class="row justify-content-center side-prompt">
        <div>
          <p class="product-title">Nothing catching your eye?</p>
        </div>
        <button mat-raised-button routerLink="/custom-order">Create custom order!</button>
      </div>
    </div>
  </div>