<div class="container">
  <div class="product-detail-wrapper row">
    <div class="product-details col-5">
      <div class="row">
        <div class="col-12">
          <h1 class="title">{{product.Title}}</h1>
          <h4 class="subtitle">${{product.Price}} (*does not include tax)</h4>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row">
        <div class="description-wrapper col-12">
          <p>
            {{product.Description}}
          </p>
        </div>
      </div>
      <div class="form-container row">
        <!-- <h4>Cake specifications</h4>
        <mat-divider class="specs"></mat-divider>
        <mat-form-field>
          <mat-label>Layers</mat-label>
          <mat-select>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input #quantity matInput placeholder="">
        </mat-form-field>
      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col-6">
      <div class="row">
        <img class="product-img" src="../../assets/example-cake.jpg" />
      </div>
      <div class="row justify-content-center">
        <button mat-raised-button (click)="addToCart(quantity.value)">Add to cart</button>
      </div>
    </div>
  </div>

</div>