.container{
    height: 100%;
    width: 100%;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 85px;
    margin-bottom: 50px;
}

.product-img{
    width: 600px;
    height: 500px;
}

.product-details{
    margin-top: 100px;
    padding-left: 80px !important;
    margin-right: 35px;
}

.title{
    font-family: 'Oswald';
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: 10px;
}

.subtitle{
    color: rgba(61, 61, 61, 0.945);
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
}

.description-wrapper{
    margin-top: 25px;
    max-height: 200px;
}

.form-container{
    margin-top: 20px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}

h4{
    font-family: 'Oswald';
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 200;
}

button{
    padding: 10px;
    color: white;
    background-color: #1f1e1f;
    font-size: 25px;
    margin-top: 25px;
    font-family: 'Oswald';
    font-weight: 200;
}

.mat-divider.specs{
    margin-bottom: 25px;
}