img {
    max-width: 100%;
  }
  
  .img-container {
    height: 500px !important;
    padding-top: 225px;
    justify-content: center;
    /* position: absolute;
    left: 0;
    opacity: 0;
    height: auto !important;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    transition: opacity .3s;
    cursor: pointer; */
  }
  
  
  
  .slide-button:hover, .slide-button-select {
    width: 64px !important;
    background-color: rgba(255,255,255,1) !important;
    pointer-events: none;
    transition: background-color .4s, width 4s cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;
  }
  
  
  .slide-button {
    width: 30px;
    height: 15px;
    border-radius: 15px;
    background-color: rgba(255,255,255,.5);
    position: absolute;
  
  }
  
  .slider {
    position: absolute;
    top: 50%;
    right: 80px;
    opacity: 1;
    min-width: 30px;
  
  }
  
  .slide-button-parent-container {
    position: relative;
    margin: 22px 0;
    min-height: 4px;
  }
  
  .select-box {
    min-height: 10px;
  }
  
  .text-container {
    padding-top: 65px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .page-text {
    opacity: 0;
    font-weight: 300;
    font-size: 90px;
    color: white;
  }
  
  .selected {
    opacity: 1;
    transition: 1s;
  }

  .carousel-container{
      height: 50%;
  }

  .img-container.first-pic{
    opacity: 1;
    transition: 1s;
    background-image: url('../../assets/chocolate-183543_1280.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .img-container.second-pic{
    opacity: 1;
    transition: 1s;
    background-image: url('../../assets/cupcakes-690040_1280.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .img-container.third-pic{
    opacity: 1;
    transition: 1s;
    background-image: url('../../assets/cake-1850011_1920.jpg');
    background-position: center;
    background-repeat: no-repeat
  }

  h2{
    color: white;
    font-size: 45px !important;
    letter-spacing: 2px !important;
    font-family: 'Oswald';
    text-transform: uppercase;
    text-shadow: 1px 2px 10px grey;
    opacity: 1;
    transition: 1s;
  }

  .home-wrapper{
    padding-top: 45px;
    padding-bottom: 45px;

    
  }

  .fancy-title{
    font-family: 'Oswald';
    letter-spacing: 1px;
    font-size: 30px !important;
  }

  .fancy-title-wrapper{
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #1f1e1f;
  }

  .cool-text{
    margin: 5px;
    padding-top: 8px;
    font-size: 16px;
    text-align: center;
  }

  mat-icon{
    font-size: 40px;
    margin-bottom: 15px;
  }
