<div id="parallax-world-of-ugg" class="body-wrapper">

    <section>
        <div class="parallax-one parallax-img">
            <h2>Sweet Karoline's Cakes</h2>
            <p class="line-break margin-top-10" style="color: white;"></p>
            <div class="text-container">
                <p class="img-text-overlay">
                    Baking unique, delectable cakes is not just a simple, casual
                    past-time for Karoline, it's a way of life. With every cake, pie, cookie, or cupcake, Karoline pours
                    the same heart and
                    soul into baking delicious, high quality desserts now as she did when she first started
                    baking years ago. Locally, Sweet Karoline's Cakes has gained a reputation for being able
                    to provide the perfect dessert for any occasion. Give it a shot!
                </p>
            </div>
        </div>
    </section>
    <section class="home-text-section">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="view-products-wrapper home-wrapper">
                        <div class="row justify-content-center order-title">
                            <h3>Philosophy</h3>
                        </div>
                        <div class="row justify-content-center product-prompt">
                            <p>
                                Karoline has been given numerous awards and rave reviews
                                for the unique and skilled twist she brings to baking.
                                Her experience is unmatched, and it shows in the quality
                                of her products.
                            </p>
                        </div>
                        <div class="row justify-content-center">
                            <button routerLink="\products" mat-stroked-button>
                                Learn more
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="social-media-wrapper home-wrapper">
                        <div class="row justify-content-center order-title">
                            <h3>Shop now</h3>
                        </div>
                        <div class="row justify-content-center product-prompt">
                            <p>
                                Get started viewing Karoline's wide assortment of the best desserts
                                you'll ever taste. You're going to like the way it tastes, we guarantee it.
                            </p>
                        </div>
                        <div class="row justify-content-center">
                            <button routerLink="\products" mat-stroked-button>
                                View products
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="block">
                        <p>
                            <span class="first-character sc">I</span>n 1978, Brian Smith landed in Southern California
                            with
                            a bag of sheepskin boots and hope.
                            He fell in love with the sheepskin experience and was convinced the world would one day
                            share
                            this love. The beaches of Southern
                            California had long been an epicenter of a relaxed, casual lifestyle, a lifestyle that Brian
                            felt was a perfect fit for his brand.
                            So he founded the UGG brand, began selling his sheepskin boots and they were an immediate
                            sensation. By the mid 1980's, the UGG brand
                            became a symbol of relaxed southern California culture, gaining momentum through surf shops
                            and
                            other shops up and down the coast of
                            California, from San Diego to Santa Cruz. UGG boots reached beyond the beach, popping up in
                            big
                            cities and small towns all over, and
                            in every level of society. Girls wore their surfer boyfriend's pair of UGG boots like a
                            letterman jacket. When winter came along, UGG
                            boots were in ski shops and were seen in lodges from Mammoth to Aspen.
                        </p>
                    </div>

                </div>
                <div class="col-6">
                    <div class="block">

                        <p class="margin-top-10">
                            The UGG brand began to symbolize those who embraced sport and a relaxed, active lifestyle.
                            More than
                            that,
                            an emotional connection and a true feeling of love began to grow for UGG boots, just as
                            Brian had
                            envisioned. People didn't just like
                            wearing UGG boots, they fell in love with them and literally could not take them off. By the
                            end of the
                            90's, celebrities and those
                            in the fashion world took notice of the UGG brand. A cultural shift occurred as well -
                            people were
                            embracing, and feeling empowered,
                            by living a more casual lifestyle and UGG became one of the symbols of this lifestyle. By
                            2000, a love
                            that began on the beaches had
                            become an icon of casual style. It was at this time that the love for UGG grew in the east,
                            over the
                            Rockies and in Chicago. In 2000,
                            UGG Sheepskin boots were first featured on Oprah's Favorite Things® and Oprah emphatically
                            declared that
                            she "LOOOOOVES her UGG boots
                            ." From that point on, the world began to notice.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section> -->

</div>