<link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container-flex">
    <div class="row">
        <div class="col-12">
            <div class="img-container {{sliderArray[selectedIndex].class}}">
                <div class="row justify-content-center">
                    <h2 *ngIf="selectedIndex === 0" class="img-overlay">The Best Cake Shop Ever</h2>
                    <h2 *ngIf="selectedIndex === 1">The highest quality ingredients</h2>
                    <h2 *ngIf="selectedIndex === 2">Life is what you bake it</h2>
                </div>
            </div>

        </div>

        <div class="slider">
            <div class="slide-button-parent-container" *ngFor="let i of sliderArray; let x =index"
                (click)="selected(x)">
                <div class="select-box">
                    <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row home-wrapper">
        <div class="col-1">

        </div>
        <div class="col-5">
            <div class="row justify-content-center">
                <mat-icon>local_dining</mat-icon>
            </div>
            <div class="row justify-content-center fancy-title-wrapper">
                <h3 class="fancy-title">PHILOSOPHY</h3>
            </div>
            <div class="row justify-content-center cool-text">
                <p>At this cake shop, we pour our heart and soul into every dessert.
                    In fact we are souless entities who have transcended the physical realm.
                    We face no mortal bounds and can bring delicious treats to the multiverse.
                </p>
            </div>
        </div>

        <div class="col-5">
            <div class="row justify-content-center">
                <mat-icon>store_mall_directory</mat-icon>
            </div>
            <div class="row justify-content-center fancy-title-wrapper">
                <h3 class="fancy-title">PRODUCTS</h3>
            </div>
            <div class="row justify-content-center cool-text">
                <p>We use the best ingredients ever. They might as well be gold.
                    With a little bit of care and magic, we assemble the most organic-y organic
                    food ever made. Here's a bunch of filler for cool stuff. The weather is nice today.
                    Things are great in the world. Wow look at me type.
                </p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>