<div class="row justify-content-center mat-elavtion-z6">
  <div class="example-container">
    <h5>Create your custom order</h5>
    <p>
      Choose one of the tabs below to start creating your sweet treat
    </p>

    <div class="row">
      <mat-tab-group class="product-tab-wrapper">
        <mat-tab label="Cake">
          <div class="form-container">
            <mat-form-field class="flavor">
              <mat-label>Flavor</mat-label>
              <mat-select>
                <mat-option value="option">Chocolate</mat-option>
                <mat-option value="option">Vanilla</mat-option>
                <mat-option value="option">Carrot</mat-option>
                <mat-option value="option">Pumpkin</mat-option>
                <mat-option value="option">Chocolate and Vanilla</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Layers</mat-label>
              <mat-select>
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
                <mat-option>4</mat-option>
                <mat-option>5</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Icing</mat-label>
              <mat-select>
                <mat-option>Vanilla</mat-option>
                <mat-option>Chocolate</mat-option>
                <mat-option>Cream Cheese</mat-option>
                <mat-option>Vanilla Buttercream</mat-option>
                <mat-option>Chocolate Buttercream</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="button-container">
              <button mat-stroked-button>Upload picture</button>
            </div>

            <mat-form-field class="textbox" appearance="fill">
              <mat-label>Feel free to make further comments or specifications here
              </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>

          </div>

          <div class="order-btn button-container">
            <button mat-stroked-button>Order now</button>
          </div>
        </mat-tab>

        <mat-tab label="Cupcakes">
          <div class="form-container">
            <mat-form-field>
              <mat-label>Flavor</mat-label>
              <mat-select>
                <mat-option value="option">Chocolate</mat-option>
                <mat-option value="option">Vanilla</mat-option>
                <mat-option value="option">Carrot</mat-option>
                <mat-option value="option">Pumpkin</mat-option>
                <mat-option value="option">Chocolate and Vanilla</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Icing</mat-label>
              <mat-select>
                <mat-option value="None">None</mat-option>
                <mat-option value="Vanilla">Vanilla</mat-option>
                <mat-option value="Chocolate">Chocolate</mat-option>
                <mat-option value="Cream cheese">Cream Cheese</mat-option>
                <mat-option value="Vanilla Buttercream">Vanilla Buttercream</mat-option>
                <mat-option value="Chocolate Buttercream">Chocolate Buttercream</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input matInput>
            </mat-form-field>

            <div class="button-container">
              <button mat-stroked-button>Upload picture</button>
            </div>

            <mat-form-field class="textbox" appearance="fill">
              <mat-label>Feel free to make further comments or specifications here
              </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>

          <div class="order-btn button-container">
            <button mat-stroked-button>Order now</button>
          </div>

        </mat-tab>

        <mat-tab label="Cookies">
          <div class="form-container">
            <mat-form-field>
              <mat-label>Flavor</mat-label>
              <mat-select>
                <mat-option value="option">Chocolate Chip</mat-option>
                <mat-option value="option">Peanut Butter</mat-option>
                <mat-option value="option">Snickerdoodle</mat-option>
                <mat-option value="option">Sugar</mat-option>
                <mat-option value="option">M&M</mat-option>
                <mat-option value="option">White Cholocate Chip Macademia</mat-option>
                <mat-option value="option">Raspberry Cheesecake</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="button-container">
              <button mat-stroked-button>Upload picture</button>
            </div>

            <mat-form-field class="textbox" appearance="fill">
              <mat-label>Feel free to make further comments or specifications here
              </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>

          </div>
          <div class="order-btn button-container">
            <button mat-stroked-button>Order now</button>
          </div>

        </mat-tab>

        <mat-tab label="Pies">
          <div class="form-container">
            <mat-form-field>
              <mat-label>Filling</mat-label>
              <mat-select>
                <mat-option value="option">Cherry</mat-option>
                <mat-option value="option">Strawberry Rhubarb</mat-option>
                <mat-option value="option">Blueberry</mat-option>
                <mat-option value="option">Peach</mat-option>
                <mat-option value="option">Pecan</mat-option>
                <mat-option value="option">Blackberry</mat-option>
                <mat-option value="option">Apple</mat-option>
                <mat-option value="option">Chess</mat-option>
                <mat-option value="option">Coconut Meringue</mat-option>
                <mat-option value="option">Chocolate Meringue</mat-option>
                <mat-option value="option">Key Lime</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="textbox" appearance="fill">
              <mat-label>Feel free to make further comments or specifications here
              </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>

          </div>
          <div class="order-btn button-container">
              <button mat-stroked-button>Order now</button>
            </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

</div>