.example-container {
    height: auto;
    width: 45%;
    background-color: white;
    padding: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 25vh;
    margin-bottom: 20vh;
    box-shadow: 8px 8px 0px rgba(169, 169, 169, 0.719);
    border-radius: 5px;
}

.form-container{
    padding-top: 15px;
    width: 100%;
}

.button-container{
    width: 100%;
    margin: 15px;
    margin-left: 25px;

}

.flavor{
    width: 55% !important;
}

.order-button{
    float: right;
}

h5{
    font-family: 'Oswald';
    font-weight: 400;
}

.mat-form-field{
    margin-left: 25px !important;

}

.textbox{
    width: 100% !important;
}

.end{
    font-size: 16px;
    margin-top: 15px !important;
}