<div class="row justify-content-center mat-elavtion-z6">
  <div class="example-container">
    <h5>Create your custom order</h5>
    <p>
      Choose one of the tabs below to start creating your sweet treat
    </p>

    <div class="row">

      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step>
          <ng-template matStepLabel>Provide details for your dessert</ng-template>
          <div class="form-container">
            <mat-form-field>
              <mat-label>Dessert type</mat-label>
              <mat-select>
                <mat-option value="option">Cake</mat-option>
                <mat-option value="option">Cupcake</mat-option>
                <mat-option value="option">Cookie</mat-option>
                <mat-option value="option">Pie</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input matInput>
            </mat-form-field>

            <div class="button-container">
              <button mat-stroked-button>Upload picture</button>
            </div>

            <mat-form-field class="textbox" appearance="fill">
              <mat-label>
                Provide details for your order here
              </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>

          <div class="button-container">
            <button mat-button matStepperNext>Next</button>
          </div>

        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fill out contact information</ng-template>
          <mat-form-field class="textbox">
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
          <div class="button-container">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Submit order</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div class="row">
            <p class="end">
              Thanks! You're order has been sent to the kitchen, and we'll get started on it ASAP.
            </p>
          </div>
          <div class="row">
            <button mat-stroked-button routerLink="/products">View our other products</button>
          </div>

        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>

</div>