<mat-card class="example-card mat-elevation-z6">
    <div class="product-image">
    </div>
    <div class="product-card-bottom-wrapper">
      <div class="row">
        <p class="product-title">{{product.Title}}</p>
        <span class="fill-space"></span>
        <button mat-stroked-button class="product-button" routerLink="/product-detail/{{product.ProductId}}">Learn more</button>
      </div>
      <div class="row">
        <div class="col-4">
          <p>${{product.Price}}</p>
        </div>
      </div>
    </div>
  </mat-card>