.example-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    background-color: white;
    padding: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 25vh;
    margin-bottom: 20vh;
    box-shadow: 8px 8px 0px rgba(169, 169, 169, 0.719);
    border-radius: 5px;


}

h5{
    font-family: 'Oswald';
    font-weight: 400;
}