<div class="row justify-content-center mat-elavtion-z6">
  <div class="example-container">
    <h5>Contact Karoline</h5>
    <p>
      Have a question about an order, or just want to say something nice?
      Karoline appreciates all kinds of feedback!     
    </p>
    <mat-form-field>
      <mat-label>Why are you contacting Karoline?</mat-label>
      <mat-select>
        <mat-option value="option">Custom order</mat-option>
        <mat-option value="option">Compliments</mat-option>
        <mat-option value="option">Because Karolines is dumb and I want her to know she is</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Leave a comment</mat-label>

      <textarea matInput></textarea>
    </mat-form-field>
    <div class="row">
      <div class="col-9"></div>
      <div class="col-2">
        <button mat-button>Contact</button>
      </div>
    </div>
  </div>

</div>