<div class="row justify-content-center mat-elavtion-z6">
  <div class="example-container">
    <h5>Contact Karoline</h5>
    <p>
      Have a question about an order, or just want to say something nice?
      Karoline appreciates all kinds of feedback!     
    </p>
    <mat-form-field>
      <mat-label>Why are you contacting Karoline?</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Leave a comment</mat-label>

      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</div>